/* Reset list margins */
li ul li, 
li ol li {
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .author__avatar {
    width: 160px; /* Set the width for small screens */
    height: auto; /* Auto height to maintain aspect ratio */
    border-radius: 50%; /* Makes the avatar circular */
    object-fit: cover; /* Ensures proper scaling */
  }

  .author__bio {
    font-size: 16px !important; /* Adjust bio font size */
  }

  .site-title {
    font-size: 42px !important; /* Adjust title font size */
  }

  .author__name {
    font-size: 18px !important; /* Adjust name font size */
  }
}
