li ul li, 
li ol li {
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .author__avatar {
    width: 160px; /* or whatever size you prefer */
    height: 150px; /* make sure this matches the width */
  }
}

@media only screen and (max-width: 600px) {
  .author__bio {
    font-size: 24px !important; /* increase this to increase size*/
  }
}

@media only screen and (max-width: 600px) {
  .site-title {
    font-size: 42px; // Adjust this size as per your need
  }
}
@media only screen and (max-width: 600px) {
  .author__name {
    font-size: 32px; /* Adjust this size as per your need */
  }
}

