li ul li, 
li ol li {
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .author__avatar {
    width: 150px; /* or whatever size you prefer */
    height: 150px; /* make sure this matches the width */
  }
}

@media only screen and (max-width: 600px) {
  .author__bio {
    font-size: 20px; // increase this to increase size
  }
}
